*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color:aliceblue;
}

.container{
    background-color: #2B2B2B;
}
.nav_bar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
    max-width: 1120px;
    padding: 1.5rem 2rem;
    margin: auto;
}

#logo{
    font-weight: 700;
    font-size: 20px;
    color:#ff591d
}

span{
    color:#ff591d
}

nav ul{
     display: flex;
     list-style: none;
     gap: 20px;
}

nav ul li a{
    margin: 0 10px;
    text-decoration: none;
    color:#7F7C75;
}
.banner{
      display: flex;
      justify-content:space-between;
      align-items: center;
      max-width: 1120px;
      padding: 1.5rem 2rem;
      gap: 1.5em;;
      
}

.tela1 button{
    background-color: #ff591d;
    color: #0D0D0D(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    padding: 7px 35px;
}